body{
    font-family: Raleway, sans-serif ;
    font-size: 16px;
    line-height: 1.5;
}
h2{
    font-family: Great Vibes, cursive ;
    line-height: 1.2;
    font: bold;
}
.one{
    list-style-type: square;
}
.two{
    list-style-type: disc;
}
.tree{
    list-style-type: circle;
}